{{> header }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Irene rede velvet</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati numquam repellat doloribus debitis
            commodi eveniet, nihil ad illum sapiente. Sint, quos. Consequatur aliquam, unde deserunt eum minima
            similique qui alias!
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/irene.jpg" alt="img-thubnail">
    </div>
</div>
{{> footer}}